{{ $logoresource := resources.Get ($.Site.Params.logoNormal | replaceRE "^/" "") }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "NGO",
    "id": "{{ .Site.BaseURL }}#organization",
    "url": "{{ .Site.BaseURL }}",
    "name": "{{ .Site.Title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ $logoresource.Permalink | default .Site.Params.textNoValue }}",
        "height": "{{ $logoresource.Height }}",
        "width": {{ printf "%d" $logoresource.Width }}
    },
{{- with .Site.Params.address -}}
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ .street | default .Site.Params.textNoValue }}",
      "addressLocality": "{{ .city | default .Site.Params.textNoValue }}",
      "addressRegion": "{{ .region | default .Site.Params.textNoValue }}",
      "addressCountry": "{{ .country | default .Site.Params.textNoValue }}",
      "postalCode": "{{ .postalcode | default .Site.Params.textNoValue }}"
    },
{{- end -}}
    "sameAs": {{ .Site.Params.organization_sameas }},
    "telephone":"{{ .Site.Params.phone }}",
  "contactPoint" : [
   {
    "@type" : "ContactPoint",
    "contactType" : "Bestuur",
    "email" : "bestuur@nluug.nl",
    "availableLanguage": ["en", "nl"]
   },
   {
    "@type" : "ContactPoint",
    "contactType" : "Buro",
    "email" : "buro@nluug.nl",
    "availableLanguage": ["en", "nl"]
   },
   {
    "@type" : "ContactPoint",
    "contactType" : "Programmacommissie",
    "email" : "pc@nluug.nl",
    "availableLanguage": ["en", "nl"]
   },
   {
    "@type" : "ContactPoint",
    "contactType" : "Webmasters",
    "email" : "website@nluug.nl",
    "availableLanguage": ["en", "nl"]
   }
  ]
  }
</script>
