{{ if .Params.slug }}
{{ $author := index .Site.Data.personen .Params.slug }}
{{ $location := index .Site.Data.location .Site.Params.primarylocation }}
<script type="application/ld+json">
{
"@context": "https://www.schema.org",
"@type": "Person",
"@id": "{{ .Permalink }}",
"name": "{{ $author.name | default .Site.Params.textEmptyValue }}",
{{ if $author.nationality }}"nationality": "{{ $author.nationality }}",{{ end }}
"affiliation": [
 {
  "@type": "Organization",
  "name": "{{ $.Site.Params.organization_name | default .Site.Params.textEmptyValue }}"
 }
],
{{ if $author.gender }}"gender": "{{ $author.gender }}",{{ end }}
{{ if $author.jobfunction }}"Description": "{{ $author.jobfunction }}",{{ end }}
{{ if $author.description }}"disambiguatingDescription": "{{ $author.description }}",{{ end }}
{{ if $author.jobtitle }}"jobTitle": "{{ $author.jobtitle }}",{{ end }}
{{ if $author.worksfor }}
"worksFor": [
 {
  "@type": "Organization",
  "name": "{{ .Site.Params.name | default .Site.Params.textEmptyValue }}",
  "sameAs": [ {{ partial "schemas/schema_Social.html" .Site.Params }}
  ]
 }
],
{{ end }}
{{ if $author.sameas }}"sameAs": "{{ $author.sameas }}",{{ end }}
{{ if $author.address }}
"address": {
 "@type": "PostalAddress",
 "addressLocality": "{{ $author.address.city }}",
 "addressRegion": "{{ $author.address.region }}",
 "addressCountry": "{{ $author.address.country }}"
},{{ end }}
"image": "{{ $author.thumbnail | absURL }}",
"url": "{{ .Permalink }}"
}
</script>
{{ end }}
