{{ define "main" }}
  <div>{{ .Content }}</div>


  {{ if .Params.speakers }}
    <div>
      {{ $count := .Params.speakers | len }}
      <h2>{{ i18n "speaker" (dict "Count" $count) | strings.FirstUpper }}</h2>
      <section>
        {{ .Scratch.Set "related_speakers" .Params.speakers }}
        {{ partial "show-speakers-small.html" . }}
      </section>
    </div>
  {{ end }}

  {{ if isset .Params "presentation" }}
    <h2>Presentatie</h2>
    {{ if .Params.presentation.filename }}
      {{ if findRE `.pdf$` .Params.presentation.filename 1 }}
        {{ partial "show-svg-icon.html" (dict "context" . "icon" "file-pdf" "alt" "PDF-icoon") }}
        <a href="/bestanden/presentaties/{{ .Params.presentation.filename }}">Presentatie</a>
      {{ end }}
    {{ else if .Params.presentation.link }}
        <a href="{{ .Params.presentation.link }}" rel="nofollow">Presentatie (externe link)</a>
    {{ end }}
  {{ end }}

  {{ if .Params.recording.embed.link }}
      <h2>Opname</h2>
      <video width="100%" controls>
	  <source src="{{ .Params.recording.embed.link }}"{{ with .Params.recording.embed.type }} type="{{ . }}"{{ else }} type="video/mp4"{{ end }}>
	  {{ if .Params.recording.embed.subtitles }}
	  {{ range $key, $value := .Params.recording.embed.subtitles }}
	  <track{{ if eq $key 0 }} default{{ end }} label="{{ .label }}" kind="subtitles" srclang="{{ .language }}" src="{{ .link }}">
	  {{ end }}
	  {{ end }}
      </video>
      <p>Directe link naar video indien video niet of niet volledig werkt (b.v. geen audio): <a href="{{ .Params.recording.embed.link }}">{{ .Title }}</a></p>
  {{ else if .Params.recording.url }}
    <h2>Opname</h2>
    {{ if .Params.recording.platform }}
      {{ if eq .Params.recording.platform "youtube" }}{{ partial "show-svg-icon.html" (dict "context" . "icon" "youtube" "alt" "YouTube-icoon") }}{{ end }}
    {{ end }}
    <a href="{{ .Params.recording.url }}">Bekijk opname</a>
  {{ end }}


{{ end }}
