{{ define "main" }}
  <div>{{ .Content }}</div>


  {{ if .Params.speakers }}
    <div>
      {{ $count := .Params.speakers | len }}
      <h2>{{ i18n "speaker" (dict "Count" $count) | strings.FirstUpper }}</h2>
    {{ range $person := .Params.speakers }}
      {{ with (index site.Data.personen $person) }}
        {{ partial "show-image-of-person.html" (dict "context" . "profile_details" . "add_link_to_image" true) }}
      {{ end }}
    {{ end }}
    </div>
  {{ end }}

  {{ if isset .Params "presentation" }}
    <h2>Presentatie</h2>
    {{ if .Params.presentation.filename }}
      {{ if findRE `.pdf$` .Params.presentation.filename 1 }}
        {{ partial "show-svg-icon.html" (dict "context" . "icon" "file-pdf") }}
        <a href="/bestanden/presentaties/{{ .Params.presentation.filename }}">Presentatie</a>
      {{ end }}
    {{ else if .Params.presentation.link }}
        <a href="{{ .Params.presentation.link }}" rel="nofollow">Presentatie (externe link)</a>
    {{ end }}
  {{ end }}

  {{ if .Params.recording.url }}
    <h2>Opname</h2>
    {{ if .Params.recording.platform }}
      {{ if eq .Params.recording.platform "youtube" }}{{ partial "show-svg-icon.html" (dict "context" . "icon" "youtube") }}{{ end }}
    {{ end }}
    <a href="{{ .Params.recording.url }}">Bekijk opname</a>
  {{ end }}


{{ end }}
