{{ define "main" }}
  {{ .Scratch.Set "cfp_open" false }}
  <div>{{ .Content }}</div>




  {{ if isset .Params "event_start" }}

    {{ $event_start := .Params.event_start | time }}
    {{ if le now $event_start }}
        {{ if .Params.event_cfp_link }}
            {{ if .Params.event_cfp_start_date }}
                {{ $event_cfp_start_date := .Params.event_cfp_start_date | time }}
                {{ if .Params.event_cfp_close_date }}
                    {{ $event_cfp_close_date := .Params.event_cfp_close_date | time }}
                    {{ if ge now $event_cfp_start_date }}
                      {{ if le now $event_cfp_close_date }}
                          {{ .Scratch.Set "cfp_open" true }}
                      {{ end }}
                    {{ end }}
                 {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ $cfp_open := .Scratch.Get "cfp_open" }}

    {{ if $cfp_open }}
        <h2>Call for Proposals</h2>
        {{ if .Params.event_cfp_start_date }}
            {{ $event_cfp_start_date := .Params.event_cfp_start_date | time }}
            {{ if le now $event_cfp_start_date }}
                <p>De Call for Proposals opent op {{ .Params.event_cfp_start_date | time.Format ":date_full" }}.</p>
            {{ else }}
                {{ $event_cfp_close_date := .Params.event_cfp_close_date | time }}
                {{ if ge now $event_cfp_close_date }}
                    <p>De Call for Proposals is gesloten na {{ $event_cfp_close_date }}. Mocht je toch nog een inzending hebben, neem dan contact op met de programmacommissie.</p>
                {{ else }}
		<p>CFP status: <strong>Open</strong></p>
                {{ end }}
            {{ end }}
        {{ end }}
        <p>Een goed programma is afhankelijk van sprekers met interessante lezingen. Wil je bijdragen aan dit programma, dan verwelkomen we graag je inzending(en)!</p>
	<p>Wil je graag een bepaalde spreker zien? Contacteer onze <a href="{{ relref . "organisatie/commissies/pc/index.md" }}">programmacommissie</a>.</p>
	<p>Heb je zelf een leuke presentatie in gedachten? Dien dan een voorstel in!</p>
	<p><strong>Leestip</strong>: <a href="{{ relref . "evenementen/nluug/cfp/index.md" }}">tips voor sprekers en onze werkwijze</a>.</p>
	<a class="btn btn-cta" href="{{ if .Params.event_cfp_link }}{{ .Params.event_cfp_link }}{{ else }}https://cfp.nluug.nl/{{ end }}" rel="nofollow noopener">Voorstel indienen</a>
    {{ end }}

    <h2>Locatie, datum en tijden</h2>
    <div class="highlight-box">
      <h3>{{ .Params.event_location }}</h3>
      <p>{{ .Params.event_address.street_address }}<br>{{ .Params.event_address.postal_code }}, {{ .Params.event_address.city }}<br>{{ .Params.event_address.country_name }}</p>

      {{ $compare_event_start_date := .Params.event_start | time.Format "2006-01-02" }}
      {{ $compare_event_end_date := .Params.event_end | time.Format "2006-01-02" }}
      {{ if eq $compare_event_start_date $compare_event_end_date }}
        <h3>Datum en tijd</h3>
        <p>Dit evenement {{ if ge now $event_start }}vond{{ else }}vindt{{ end}} plaats op {{ .Params.event_start | time.Format ":date_full" }} ({{ .Params.event_start | time.Format "15:04" }}-{{ .Params.event_end | time.Format "15:04" }}).</p>
      {{ else }}
        <h3>Data</h3>
        <ul>
          <li>Start evenement: {{ .Params.event_start | time.Format "2006-01-02 15:04" }}</li>
          <li>Einde evenement: {{ .Params.event_end | time.Format "2006-01-02 15:04" }}</li>
        </ul>
      {{ end }}
    </div>


    {{ if le now $event_start }}
      <h2>Kalender</h2>
      <p>Zet het event alvast in je agenda met onderstaande opties!</p>
      <ul>
      {{ with .OutputFormats.Get "CalendarEvent" }}
        <li><a href="{{ .RelPermalink }}">Importeren via iCal-bestand</a></li>
      {{ end }}
      <li><a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ .Params.event_title | urlquery }}&details=Locatie:%20{{ .Params.event_location | urlquery }}&location={{ .Params.event_address.street_address }}%2c%20{{ .Params.event_address.postal_code }}%2c%20{{ .Params.event_address.city }}%2c%20{{ .Params.event_address.country_name }}&dates={{ time.Format "20060102T150405" .Params.event_start }}/{{ time.Format "20060102T150405" .Params.event_end }}&ctz={{ .Params.event_timezone }}">Importeren naar Google-kalender</a></li>
      </ul>

      {{ if .Params.event_register_link }}
        <h2>Inschrijven</h2>
        <p>Om deel te nemen aan dit evenement is inschrijving vereist.</p>
        {{ if .Params.event_register_start_date }}
          {{ $event_register_start_date := .Params.event_register_start_date | time }}
          {{ if le now $event_register_start_date }}
            <p>De inschrijving opent op {{ .Params.event_register_start_date | time.Format ":date_full" }}.</p>
          {{ else }}
            {{ if .Params.event_register_end_date }}
              {{ $event_register_end_date := .Params.event_register_end_date | time }}
              {{ if ge now $event_register_end_date }}
                <p>De inschrijving is inmiddels gesloten</p>
              {{ else }}
                <a href="{{ .Params.event_register_link }}" class="button">Inschrijven</a>
              {{ end }}
            {{ else }}
              <a href="{{ .Params.event_register_link }}" class="button">Inschrijven</a>
            {{ end }}
          {{ end }}
        {{ else }}
          <p>Fout: Er ontbreekt een datum wanneer inschrijving open gaat.</p>
        {{ end }}
      {{ else }}
        <p>Fout: Er ontbreekt een link om in te schrijven.</p>
      {{ end }}
    {{ else }}
      <h2>Presentaties, foto's en opnames</h2>
      <p>Na de conferentie verzamelen we de opnames en foto's. Nadat ze beschikbaar komen zijn ze te raadplegen via de pagina's in onderstaand programma.</p>
    {{ end }}

  {{ else }}
    <p>Waarschuwing: dit evenement mist gegevens zoals start en einddatum.</p>
  {{ end }}

  {{ with .Params.event_talks }}
    <h2>Talks</h2>
    <p>Onderstaand een voorproefje van de onderwerpen en sprekers die bevestigd zijn.</p>
    <ul>
    {{ range $index, $element := . }}
    {{ if not .hide }}<li>{{ .title }} ({{ .speakers }})</li>{{ end }}
    {{ end }}
    </ul>

  {{ end }}

  <h2>Programma</h2>

  {{ $.Scratch.Set "counter" 0 }}
  {{ with .Params.event_schedule }}
    {{ if ne .hidden true }}
      {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
      {{ with .name }}<h3>{{$.Scratch.Get "counter"}}. {{ . }}</h3>{{ end }}
      <div class="prog-container">
	  <div class="prog-item prog-header">Tijd</div>
	  <div class="prog-item prog-header prog-mob">Event</div>
	  <div class="prog-item prog-header prog-mob">Zaal</div>
	  <div class="prog-item prog-header prog-desk">Zaal 1</div>
	  <div class="prog-item prog-header prog-desk">Zaal 2</div>
	  <div class="prog-item prog-header prog-desk">Zaal 3</div>
      {{ with .rows }}
        {{ range . }}
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
            {{ with .description }}<blockquote>{{ . }}</blockquote>{{ end }}
            {{ with .columns }}
                {{ $.Scratch.Set "counter2" 0 }}
		{{ $line := . }}
                {{ range . }}
		    {{ $size := 1 }}
		    {{ if .size }}{{ $size = .size }}{{ end }}

		    {{ if .time }}
		        <div class="prog-item prog-tijd">{{ .time }}</div>
                    {{ else if .talk }}
		        {{ $talk := .talk }}
		        {{ range seq $size }}
			    {{ $.Scratch.Set "counter2" (add ($.Scratch.Get "counter2") 1) }}
			    <div class="prog-item">
			    {{ with $talk.speaker }}<strong>{{ . }}</strong><br>{{ end }}
			    {{ if and ($talk.title) ($talk.link) }}
			        {{ if $talk.link }}
				    {{ if $talk.keynote }}<strong>Keynote:</strong> {{ end }}<a href="{{ $talk.link }}">{{ $talk.title }}</a>
			        {{ else }}
			            <em>{{ $talk }}</em>
			        {{ end }}
			    {{ else }}
			        {{ if $talk.title }}{{ if $talk.keynote }}<strong>Keynote:</strong> {{ end }}<em>{{ $talk.title }}</em>{{ end }}
			    {{ end }}
			    {{ if eq $talk.language "nl" }}🇳{{ end }}
			    {{ if $talk.not_recorded }}
			      <img class="m-r-small" src="/afbeeldingen/iconen/video-slash.svg" height="{{ $.Site.Params.smallIconSize }}" width="{{ $.Site.Params.smallIconSize }}" alt="Deze presentatie zal niet worden gefilmd">
			    {{ end }}
			    </div>
		            <div class="prog-item prog-mob"><span class="prog-zaal">{{ $.Scratch.Get "counter2" }}</span></div>
		        {{ end }}
		    {{ else if .textfield }}
			{{ $textfield := .textfield }}
		        {{ range seq $size }}
                            {{ $.Scratch.Set "counter2" (add ($.Scratch.Get "counter2") 1) }}
			    <div class="prog-item">
                            {{ if $textfield.text }}
                                {{ if and ($textfield.text) ($textfield.link) }}
                                   <em><a href="{{ $textfield.link }}">{{ $textfield.text }}</a></em>
                                {{ else }}
                                   {{ with $textfield.text }}<em>{{ . }}</em><br>{{ end }}
                                {{ end }}
                            {{ end }}
                            </div>
		            <div class="prog-item prog-mob"><span class="prog-zaal">{{ $.Scratch.Get "counter2" }}</span></div>
		         {{ end }}
		    {{ else }}
		        {{ range seq $size }}
                            {{ $.Scratch.Set "counter2" (add ($.Scratch.Get "counter2") 1) }}
			    <div class="prog-item"></div>
		            <div class="prog-item prog-mob"><span class="prog-zaal">{{ $.Scratch.Get "counter2" }}</span></div>
			{{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
      {{ end }}
      </div>

<h2>Programma (oude format)</h2>

<p>We zijn verbeteringen aan het doorvoeren op onze website. Het programma zal hierdoor dubbel worden gepresenteerd, in een moderne versie en als tabel.</p>

      <div class="table-wrapper">
      <table class="fl-table">
      {{ with .headers }}
        <thead>
          <tr>
          {{ range . }}
          <th{{ if .width }} class="w-{{ .width }}"{{ end }}>{{ .text }}</th>
          {{ end }}
          </tr>
        </thead>
      {{ end }}
      <tbody>
      {{ with .rows }}
        {{ range . }}
          <tr>
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
            {{ with .description }}<blockquote>{{ . }}</blockquote>{{ end }}
            {{ $.Scratch.Set "counter2" 0 }}
            {{ with .columns }}
                {{ range . }}
                <td{{ if .size }} colspan="{{ .size }}"{{ end }}{{ if .center}} style="text-align:center;"{{ end }}>
                  {{ if .time }}<small>{{ .time }}</small>{{ end }}
                  {{ $.Scratch.Set "counter2" (add ($.Scratch.Get "counter2") 1) }}
                  {{ with .talk }}
                    {{ if .speaker }}
                      <strong>{{ .speaker }}</strong><br>
                    {{ end }}
                    {{ if and (.title) (.link) }}
                      {{ if .link }}
                        {{ if .keynote }}<strong>Keynote:</strong> {{ end }}<a href="{{ .link }}">{{ .title }}</a>
                      {{ else }}
                        <em>{{ . }}</em>
                      {{ end }}
                    {{ else }}
                    {{ if .title }}{{ if .keynote }}<strong>Keynote:</strong> {{ end }}<em>{{ .title }}</em>{{ end }}
                    {{ end }}
                    {{ if eq .language "nl" }}
                      🇳🇱
                    {{ end }}
                    {{ if .not_recorded }}
                      <img class="m-r-small" src="/afbeeldingen/iconen/video-slash.svg" height="{{ $.Site.Params.smallIconSize }}" width="{{ $.Site.Params.smallIconSize }}" alt="Deze presentatie zal niet worden gefilmd">
                    {{ end }}
                  {{ end }}


                  {{ with .textfield }}
                    {{ if and (.text) (.link) }}
                      <em><a href="{{ .link }}">{{ .text }}</a></em>
                    {{ else }}
                      {{ with .text }}<em>{{ . }}</em><br>{{ end }}
                    {{ end }}
                  {{ end }}

                </td>
                {{ end }}
            {{ end }}
          </tr>
        {{ end }}
      {{ end }}
      </tbody>
      </table>
      </div>
      <small>Disclaimer: de inhoud van het programma kan te allen tijden worden aangepast. Door onverwachte ontwikkelingen rondom het evenement of sprekers kan het zijn dat er een verschil is met het daadwerkelijke programma. Relevante wijzigingen zullen wij zo spoedig mogelijk delen of op de dag van het evenement zelf. Ons filmteam probeert zoveel mogelijk presentaties op te nemen. Sprekers kunnen echter aangeven dat hun lezing niet opgenomen mag worden. Ook blijven we afhankelijk van de capaciteit van het team en de techniek. We kunnen derhalve niet garanderen dat er voor iedere lezing een filmopname beschikbaar komt.</small>
    {{ else }}
      <p>Het programma komt later beschikbaar.</p>
    {{ end }}

  {{ else }}
    <p>Waarschuwing: dit conferentieprogramma is niet goed geconfigureerd in de front matter.</p>
  {{ end }}

  {{ if .Params.event_sponsors }}
      <h2>Sponsoren</h2>
      {{ .Scratch.Set "event_sponsors" .Params.event_sponsors }}
      {{ partial "include-event-sponsors" . }}
  {{ end }}

{{ end }}
