{{ define "main" }}
  {{ with .Params.event_title }}<h2>{{ . }}</h2>{{ end }}
  <div>{{ .Content }}</div>

  {{ if isset .Params "event_start" }}

    {{ $event_start := .Params.event_start | time }}
    <div class="highlight-box highlight-box-nluug">
      <h3>Locatie</h3>
      <strong>{{ .Params.event_location }}</strong>
      <p>{{ .Params.event_address.street_address }}<br>{{ .Params.event_address.postal_code }}, {{ .Params.event_address.city }}<br>{{ .Params.event_address.country_name }}</p>

      <h3>Datum en tijd</h3>
      <ul>
        <li>Start: {{ time.Format "02-01-2006 15:04" .Params.event_start }}</li>
        <li>Einde: {{ time.Format "02-01-2006 15:04" .Params.event_end }}</li>
      </ul>
    </div>

    {{ with .Params.event_register_link }}
      {{ if le now $event_start }}
        <a href="{{ . }}" class="button">Inschrijven</a>
      {{ else }}
        <p>Dit evenement is al afgelopen, inschrijven is daarom niet meer mogelijk.</p>
      {{ end }}
    {{ end }}

    <h3>Kalender</h3>
    <p>Zet het event alvast in je agenda met onderstaande opties!</p>
    <ul>
    {{ with .OutputFormats.Get "calendarevent" }}
      <li><a href="{{ .RelPermalink }}">Importeren via iCal-bestand</a></li>
    {{ end }}
    <li><a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ .Params.event_title | urlquery }}&details=Locatie:%20{{ .Params.event_location | urlquery }}&location={{ .Params.event_address.street_address }}%2c%20{{ .Params.event_address.postal_code }}%2c%20{{ .Params.event_address.city }}%2c%20{{ .Params.event_address.country_name }}&dates={{ time.Format "20060102T150405" .Params.event_start }}/{{ time.Format "20060102T150405" .Params.event_end }}&ctz={{ .Params.event_timezone }}">Importeren naar Google-kalender</a></li>
    </ul>


  {{ else }}
    <p>Waarschuwing: dit evenement mist gegevens zoals start en einddatum.</p>
  {{ end }}

  <!-- TODO
  <h2>Sprekers</h2>
  Nog in te vullen
  -->

  <h2>Programma</h2>

  {{ $.Scratch.Set "counter" 0 }}
  {{ with .Params.event_schedule }}
    {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
    {{ with .name }}<h3>{{$.Scratch.Get "counter"}}. {{ . }}</h3>{{ end }}
    <div class="table-wrapper">
    <table class="fl-table">
    {{ with .headers }}
      <thead>
        <tr>
        {{ range . }}
        <th{{ if .width }} class="w-{{ .width }}"{{ end }}>{{ .text }}</th>
        {{ end }}
        </tr>
      </thead>
    {{ end }}
    <tbody>
    {{ with .rows }}
      {{ range . }}
        <tr>
          {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          {{ with .description }}<blockquote>{{ . }}</blockquote>{{ end }}
          {{ $.Scratch.Set "counter2" 0 }}
          {{ with .columns }}
              {{ range . }}
              <td{{ if .size }} colspan="{{ .size }}"{{ end }}{{ if .center}} style="text-align:center;"{{ end }}>
                {{ if .time }}<small>{{ .time }}</small>{{ end }}
                {{ $.Scratch.Set "counter2" (add ($.Scratch.Get "counter2") 1) }}
                <!-- <b>{{ $.Scratch.Get "counter" }}.{{ $.Scratch.Get "counter2" }}. {{ .name }}</b>-->
                {{ with .talk }}
                  {{ if .speaker }}
                    <strong>{{ .speaker }}</strong><br>
                  {{ else }}
                  <strong><a href="https://cfp.nluug.nl/">Jouw talk?</a></strong>
                  {{ end }}
                  {{ if and (.title) (.link) }}
                    {{ if .link }}
                      {{ if .keynote }}<strong>Keynote:</strong> {{ end }}<a href="{{ .link }}">{{ .title }}</a>
                    {{ else }}
                      <em>{{ . }}</em>
                    {{ end }}
                  {{ else }}
                  {{ if .title }}{{ if .keynote }}<strong>Keynote:</strong> {{ end }}<em>{{ .title }}</em>{{ end }}
                  {{ end }}
                {{ end }}

                {{ with .textfield }}
                  {{ if and (.text) (.link) }}
                    <em><a href="{{ .link }}">{{ .text }}</a></em>
                  {{ else }}
                    {{ with .text }}<em>{{ . }}</em><br>{{ end }}
                  {{ end }}
                {{ end }}
              </td>
              {{ end }}
          {{ end }}
        </tr>
      {{ end }}
    {{ end }}
    </tbody>
    </table>
    </div>
  {{ else }}
    <p>Waarschuwing: dit conferentieprogramma is niet goed geconfigureerd in de front matter.</p>
  {{ end }}

{{ end }}
