{{ define "main" }}
  {{ with .Params.event_title }}<h2>{{ . }}</h2>{{ end }}
  <div>{{ .Content }}</div>
  {{ if isset .Params "event_start" }}

    {{ $event_start := .Params.event_start | time }}
    <div class="highlight-box">

      <h3>Locatie</h3>
      <strong>{{ .Params.event_location }}</strong>
      <p>{{ .Params.event_address.street_address }}<br>{{ .Params.event_address.postal_code }}, {{ .Params.event_address.city }}<br>{{ .Params.event_address.country_name }}</p>

      <h3>Datum en tijd</h3>
      <ul>
        <li>Start: {{ time.Format "02-01-2006 15:04" .Params.event_start }}</li>
        <li>Einde: {{ time.Format "02-01-2006 15:04" .Params.event_end }}</li>
      </ul>
    </div>

    {{ with .Params.event_register_link }}
      {{ if le now $event_start }}
        <a href="{{ . }}" class="button">Inschrijven</a>
      {{ else }}
        <p>Dit evenement is al afgelopen, inschrijven is daarom niet meer mogelijk.</p>
      {{ end }}
    {{ end }}

    <h3>Kalender</h3>
    <p>Zet het event alvast in je agenda met onderstaande opties!</p>
    <ul>
    {{ with .OutputFormats.Get "calendarevent" }}
      <li><a href="{{ .RelPermalink }}">Importeren via iCal-bestand</a></li>
    {{ end }}
    <li><a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ .Params.event_title | urlquery }}&details=Locatie:%20{{ .Params.event_location | urlquery }}&location={{ .Params.event_address.street_address }}%2c%20{{ .Params.event_address.postal_code }}%2c%20{{ .Params.event_address.city }}%2c%20{{ .Params.event_address.country_name }}&dates={{ time.Format "20060102T150405" .Params.event_start }}/{{ time.Format "20060102T150405" .Params.event_end }}&ctz={{ .Params.event_timezone }}">Importeren naar Google-kalender</a></li>
    </ul>


  {{ else }}
    <p>Waarschuwing: dit evenement mist gegevens zoals start en einddatum.</p>
  {{ end }}
{{ end }}
