{{ define "main" }}
  {{ .Content }}

    <h2>Sprekers</h2>
    {{ range $key,$val := $.Site.Data.personen }}
      {{ if eq $val.speaker true }}
      <h3>&raquo; {{ .name }}</h3>
        {{ partial "show-image-of-person.html" (dict "context" . "profile_details" $val "hide_figcaption" true "add_link_to_image" true) }}
        {{ $firstname := index (split .name " ") 0 }}
        {{ if not .profile_page }}<small>Deze spreker heeft nog geen profielpagina</small>{{ end }}
      {{ end }}
    {{ end }}

{{ end }}
