{{ define "main" }}
  {{ $.Scratch.Set "speakers" slice }}
  {{ .Content }}

  {{ range where $.Site.RegularPages "Section" "evenementen" }}
    {{ if .Params.speakers }}
        {{ $.Scratch.Add "speakers" .Params.speakers }}
    {{ end }}
  {{ end }}

  {{ if (gt ($.Scratch.Get "speakers" | len) 0) }}
    {{ range $key,$val := $.Scratch.Get "speakers" | sort | uniq }}
      {{ with (index $.Site.Data.personen $val) }}
      <h3>&raquo; {{ .name }}</h3>
        {{ partial "show-image-of-person.html" (dict "context" . "profile_details" . "hide_figcaption" true "add_link_to_image" true) }}
        {{ $firstname := index (split .name " ") 0 }}
        {{ if not .profile_page }}<small>Deze spreker heeft nog geen profielpagina</small>{{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}
