
// purple: #6A2060
// light purple-grey: #DCC9DB
// darkblue: #1D3160

$color-button: #1D3160;
$color-button-hover: #17274d;
$color-button-call-to-action: #138808;
$color-button-call-to-action-hover: #0F6D06; // %25 donkerder dan #138808 met encycolorpedia
$color-header: #6A2060;
$color-highlight-box-other-border: #99AFE2;
$color-highlight-box-other-background: #E3E9F7;
$color-highlight-box-nluug-border: #6A2060;
$color-highlight-box-nluug-background: #F5E1ED;
$color-border: #6A2060;
$color-text-inverse: white;
$color-tags-background: #6A2060;
$color-tags-text: white;

