
/* Generieke styling voor tabellen */

table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: 360px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

table thead tr {
    text-align: left;
}

table thead th {;
    background: $midnight-blue-medium;
    color: #ffffff;
}

td, th {
    padding: 12px 15px;
}

tr:nth-child(even) {
    background: #F8F8F8;
}
tbody tr {
    border-bottom: 1px solid #F8F8F8;
}
tbody tr:last-of-type {
    border-bottom: 2px solid $midnight-blue-dark;
}

/*
   Styling voor tabel met een wrapper
   Deze is voor tabellen met wat meer kolommen, waarvan de tekstitems langer kunnen zijn, of dynamisch ingevuld (b.v. titels)
*/

.table-wrapper{
    margin: 10px 10px 30px;
    box-shadow: 0px 10px 20px rgba( 0, 0, 0, 0.2 );
    overflow-x:auto;
}

.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: left;
    padding: 8px;
    vertical-align: top;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.fl-table thead th {
    color: #ffffff;
    background: $midnight-blue-medium;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: $midnight-blue-medium;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

