*, :after, :before {
    box-sizing: border-box;
    padding: 0;
}

body {
    //font: 1rem/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,Roboto,noto,"Helvetica Neue",helvetica,arial,sans-serif;
    //text-rendering: optimizeLegibility;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    padding: 1.0rem;
    // background: hsla(93, 0%, 96%, 1.00);
    //color: #2E2E2E;
    //color: #222226;
    color: #333333;
    max-width: 1180px;
    margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  //margin: 1.5rem 0;
  background: #eee;
  //color: white;
  //padding: 1.5rem;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

figure {
  //margin-inline-start: 10px;
  //margin-inline-end: 10px;
  margin: 10px;
}

footer {
    //background-color: #E3E9F7;
    background-color: $color-footer-background;
    color: $color-footer-text;
    border-top: 1px solid #99AFE2;
    margin-top: 40px;
    padding: 20px;
}

.grid-team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
}

.grid-team-members-small-photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 1px;
}

h1, h2 {
    padding-top: 10px;
  }
h1, h2, h3 {
    //font-size: inherit;
    font-size: 1.1em;
    font-weight: 600;
    //text-transform: uppercase;
}
h4, h5, strong, b {
    font-size: inherit;
    font-weight: 600;
}

.persian-green-dark {
  color: $persian-green-dark;
}

.darkred {
  color: darkred;
}

.deceased::after {
    content: "†";
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 2px;
    vertical-align: text-top;
}

.time {
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}



blockquote {
    border-left: 5px solid #eee;
    padding-left: 1rem;
    margin: 0;
}

pre {
    padding: .5rem;
    overflow: auto;
    overflow-x: scroll;
    overflow-wrap: normal;
}

code, pre {
    font-family: San Francisco Mono, Monaco, "Consolas", "Lucida Console","DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    font-size: small;
    background: #eee
}

code {
    margin: .1rem;
    border: none;
}

ul {
    list-style-type: square;
}

ul, ol {
    padding-left: 2rem;
}

.list {
    line-height: 2;
    list-style-type: none;
    padding-left: 0;
}

.list li {
    padding-bottom: .1rem
}

.meta {
    color: #777
}

//.content {
//    max-width: 1024px;
//    margin: 0 auto;
//    // text-align: justify;
//}

.list li {
    display: flex;
    align-items: baseline;
}

.list li time {
    flex: 0 1 auto;
}

.hr-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 1px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    flex: 1 0 1rem;
    //opacity: .25;
}

.m,hr {
    border: 0;
    margin: 3rem 0;
}

.m-b-sm {
  margin-bottom: 1rem;
}

.m-sm {
  margin: 1rem;
}

.post-date {
    margin: 5% 0 5%;
}

.index-date {
    color: #9a9a9a;
}

.tags {
    display: flex;
    justify-content: space-between;
}

.tags ul {
    padding: 0;
    margin: 0;
}

.tags li {
    background-color: $color-tags-background;
    border-radius: 2px;
    color: $color-tags-text;
    display: inline;
    padding: 4px 10px;
    margin-right: 2px;
}

.tags li a {
  font-size: 0.8em;
  text-decoration: none;
}

/* Kolommen voor de footer */

// container
.three-column-grid {
    display:block; 
}

/* columns */
.three-column-grid > * {
    padding:1rem;
}

@media (min-width:768px) {
    .three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Width definitions */
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }

