
$color-button: #1D3160;
$color-button-hover: #17274d;
$color-header: #6A2060;
$color-highlight-box-border: #6A2060;
$color-highlight-box-background: #EBBCE5; // omgezet naar lichtere kleur via https://encycolorpedia.com/6a2060
$color-border: #6A2060;
$color-text-inverse: white;

*, :after, :before {
    box-sizing: border-box;
    padding: 0;
}

body {
    font: 1rem/1.5 -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 1.2rem;
    // background: hsla(93, 0%, 96%, 1.00);
    color: #000;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  //margin: 1.5rem 0;
  background: #eee;
  //color: white;
  //padding: 1.5rem;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

figure {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.grid-team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
}

.grid-team-members-small-photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 1px;
}

h1, h2, h3, h4, h5, strong, b {
    font-size: inherit;
    font-weight: 600;
    //text-transform: uppercase;
}

.header{
    background-color: $color-header;
    box-shadow: 1px 1px 5px 0px grey;
    position: sticky;
    //top: 100px;
    width: 100%;
    line-height: 2;
  }

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $color-header;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}
.menu a {
    display: block;
    padding: 10px;
    color: $color-text-inverse;
}
.menu a:visited {
    color: $color-text-inverse;
}
.menu a:hover{
    background-color: $color-header;
    color: gray;
    text-decoration: none;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Sub nav */
.subnav-content {
    background-color: $color-header;
    color: black;
    width: 100%;
    z-index: 1;
    padding: 10px 0 ;
    //display: none;
  }
.subnav-content a {
    color: $color-text-inverse;
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}
.subnav-content a:visited {
  color: $color-text-inverse;
}
.subnav:hover .subnav-content {
    display: block;
}

/* Responsiveness */
@media (min-width: 768px) {
    /* Sub nav */
    .subnav-content {
        padding: 8px 0;
        display: none;
        background-color: $color-header;
        color: $color-text-inverse;
    }
    .header ul {
      float: right;
    }
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        //width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a {
      color: $color-text-inverse;
    }
    .menu a:hover {
        background-color: transparent;
        color: gray;
    }

    .hamb{
        display: none;
    }
}

// Highlight-box om bijvoorbeeld onze evenementen opvallend op homepage te laten zien
.highlight-box {
  background-color: $color-highlight-box-background;
  padding: 10px;
  margin: 2px;
  border: 2px solid $color-highlight-box-border;
  border-radius: 4px;
}

.link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

a.button:link, a.button:visited {
  background-color: $color-button;
  border-radius: 4px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.button:hover, a.button:active {
  background-color: $color-button-hover;
}


.time {
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}

blockquote {
    border-left: 5px solid #eee;
    padding-left: 1rem;
    margin: 0;
}

a,
a:visited {
    color: inherit;
}

a:hover,
a.heading-link {
    color: inherit;
    text-decoration: underline;
}

pre {
    padding: .5rem;
    overflow: auto;
    overflow-x: scroll;
    overflow-wrap: normal;
}

code, pre {
    font-family: San Francisco Mono, Monaco, "Consolas", "Lucida Console","DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    font-size: normal;
    font-size: small;
    background: #eee
}

code {
    margin: .1rem;
    border: none;
}

ul {
    list-style-type: square;
}

ul, ol {
    padding-left: 1.2rem;
}

.list {
    line-height: 2;
    list-style-type: none;
    padding-left: 0;
}

.list li {
    padding-bottom: .1rem
}

.meta {
    color: #777
}

.content {
    max-width: 800px;
    margin: 0 auto;
    // text-align: justify;
}

header {
    line-height: 2;
    //padding-bottom: 1.5rem;
    //flex-basis: 10rem;
    //flex-grow: 1;
    //position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

header a {
    text-decoration: none;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header li, header a {
    //margin-bottom: .2rem;
    //text-align: right;
    //margin-right: 2rem;
    display: inline;
}

h2.post {
    padding-top: .5rem;
}

header ul a:first-child {
    padding-left: 1rem;
}

//.nav {
//    height: 1px;
//    background: #000;
//    content: '';
//    max-width: 10%;
//}

.list li {
    display: flex;
    align-items: baseline;
}

.list li time {
    flex: 0 1 auto;
}

.hr-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 1px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    flex: 1 0 1rem;
    //opacity: .25;
}

.m,
hr {
    border: 0;
    margin: 3rem 0
}

img {
    max-width: 100%;
    height: auto;
}

.post-date {
    margin: 5% 0 5%;
}

.index-date {
    color: #9a9a9a;
}

.animate-blink {
    animation: opacity 1s infinite;
    opacity: 1;
    // margin-left: -1%;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.tags {
    display: flex;
    justify-content: space-between;
}

.tags ul {
    padding: 0;
    margin: 0;
}

.tags li {
    display: inline;
}

.avatar {
    height: 120px;
    width: 120px;
    position: relative;
    margin: -10px 0 0 15px;
    float: right;
    border-radius: 50%;
}
