// Highlight-box om bijvoorbeeld onze evenementen opvallend op homepage te laten zien
.highlight-box {
  border-radius: 5px;
  margin: 2px;
  padding: 20px;
}

// Events voor alleen NLUUG-leden krijgen een andere kleur dan events in samenwerking met of die extra aandacht nodig hebben.
.highlight-box-nluug {
  background-color: $color-highlight-box-nluug-background;
  border: 1px solid $color-highlight-box-nluug-border;
}
.highlight-box-other {
  background-color: $color-highlight-box-other-background;
  border: 1px solid $color-highlight-box-other-border;
}

