{{ define "main" }}

  {{ $icon_size := 20 }}
  {{ $text := .Content }}
  {{ $date := .Date.Format "02-01-2006" }}
  {{ $lastmod := .Lastmod.Format "02-01-2006" }}
  {{ if isset .Params "author" }}
    {{ $author := index .Site.Data.authors .Params.author }}
    <small>Gepubliceerd op {{ $date }} door {{ $author.name }}.{{ if gt .Params.lastmod .Params.date }} Artikel bijgewerkt op {{ $lastmod }}{{ end }}</small>
  {{ else }}
    {{ $author := .Site.Params.author }}
    <small>Gepubliceerd op {{ $date }} door {{ .Site.Params.author }}.{{ if gt .Params.lastmod .Params.date }} Artikel bijgewerkt op {{ $lastmod }}{{ end }}</small>
  {{ end }}
  <section>
    {{ $text }}
    {{ if .Params.signed_by }}<em>{{ .Params.signed_by }}</em>{{ end }}
  </section>
  {{ if .Params.related_members }}
    {{ .Scratch.Set "related_members" .Params.related_members }}
    {{ partial "show-related-members.html" . }}
  {{ end }}

  {{ if .Params.related_persons }}
    {{ .Scratch.Set "related_members" .Params.related_persons }}
    {{ partial "show-related-members.html" . }}
  {{ end }}
{{ end }}
