<!doctype html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }}>
  {{ partial "head.html" . }}
  <body>
    <!-- Accessibility: skip-link voor mobiele apparaten -->
    <a class="skip-link" href="#main">Ga naar hoofd</a>
      <main id="main">
        {{ partial "announcements.html" . }}
        {{ partialCached "header.html" . }}
        {{ partial "breadcrumb.html" . }}
        <div class="content">
	    {{ partial "show-call-to-action-top-of-content.html" . }}
            <h1 class="post speakable">{{ .Title }}</h1>
            <div class="speakable">
            {{- block "main" . }}
                {{ .Content }}
            {{- end }}
            </div>

            {{ partial "show-call-to-action.html" . }}

            {{ if isset .Params "show_child_pages" }}
              {{ if eq .Params.show_child_pages true }}
                {{ if (gt (.Pages | len) 0) }}
                  <section>
                    <h3>Gerelateerde pagina's</h3>
                    <ul>
                      {{ range .Pages.ByTitle }}
                        <li>
                          <a class="link" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title | default .Site.Params.textNoTitle }}</a>
                        </li>
                        {{ end }}
                    </ul>
                  </section>
                {{ end }}
              {{ end }}
            {{ end }}

            {{ if .Params.tags }}
              <section>
                <h3>Tags</h3>
                <div class="tags">
                    {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
                    <ul>
                    {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                    <li><a href="{{ .RelPermalink }}">{{ $tag | urlize }}</a></li>
                    {{- end -}} {{- end -}}
                    </ul>
                    {{ end }}
                </div>
              </section>
            {{ end }}
        </div>
      </main>
      {{ partial "footer.html" . }}
      {{ if findRE `[zZ]oek|[sS]earch` .Title 1 }}
        {{ partialCached "scripts_loadlast.html" . }}
      {{ end }}
  </body>
</html>
