{{ $currentLang := $.Site.Language.Lang }}
<!doctype html>
<html lang="{{ $currentLang | default "nl" }}">
  {{ partial "head.html" . }}
  <body>
    <a class="skip-link" href="#main">Ga naar hoofd</a>
      <main id="main">
        <div class="content">
          {{ partialCached "header.html" . }}
          <section>
            <!-- <h2 class="post">{{ .Title }}</h2> -->
            {{- block "main" . }}
                {{ .Content }}
            {{- end }}

            {{ partial "show-call-to-action.html" . }}

            {{ if isset .Params "show_child_pages" }}
              {{ if eq .Params.show_child_pages true }}
                 <section>
    <p>Relevante pagina's:</p>
    <ul>
      {{ range .Pages }}
        <li>
          <a class="link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | default "Geen titel" }}</a>
        </li>
        {{ end }}
    </ul>
  </section>
              {{ end }}
            {{ end }}

            {{ if eq .Section "posts" }}
            <div class="post-date">
              <span class="g time">{{.Date.Format "January 2, 2006"}} </span> &#8729;
              {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
              {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
              $taxonomy $tag) -}}
              <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
              {{- end -}} {{- end -}}
              {{ end }}
            </div>
            {{ end }}
          </section>
        </div>
      </main>
  </body>
</html>
