{{ define "main" }}
  {{ .Content }}

  <h2>Team</h2>

  <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;column-gap: 5px;">
    {{ range $key,$val := .Params.team_members }}
      {{ with (index $.Site.Data.personen $val) }}
        <div>
            {{ if .thumbnail }}
              <figure>
                <img src="{{ .thumbnail }}" alt="Foto van {{ .name }}" />
                <figcaption>
                  <strong>{{ .name }}</strong>
                </figcaption>
              </figure>
            {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
