{{ define "main" }}
  {{ .Content }}

  {{ if .Params.contact_email }}
    <h2>Contact</h2>
    <p>Wil je iets weten of heb je een suggestie voor dit team?</p>
    <a href="mailto:{{ .Params.contact_email }}" class="button">Neem contact op</a>
  {{ end }}

  <h2>Team</h2>

  <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;column-gap: 5px;">
    {{ range $key,$val := .Params.team_members }}
      {{ with (index $.Site.Data.personen $val) }}
        <div>
            {{ if .thumbnail }}
              <figure>
                <img src="{{ .thumbnail }}" alt="Foto van {{ .name }}" />
                <figcaption>
                  <strong>{{ .name }}</strong>
                </figcaption>
              </figure>
            {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>


{{ end }}
