{{ define "main" }}
  {{ .Content }}

  {{ if gt (len (where .Site.RegularPages "Section" "nieuws")) 0 }}
      <h2>Laatste nieuws</h2>
      <section>
      <ul class="list">
        {{ range (first 3 (where .Site.RegularPages "Section" "nieuws").ByDate.Reverse) }}
          <li>
            <a class="link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            <hr class="hr-list">
            <time class="g time" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "02-01-2006" .Date }}</time>
          </li>
          {{ end }}
      </ul>
      </section>
  {{ end }}

  {{ if gt (len (.Site.Data.projecten.open)) 0 }}
    <h2>Lopende projecten</h2>
    <ul>
      {{ range $.Site.Data.projecten.open }}
      <li>{{ .name }} ({{ .description_short }})</li>
      {{ end }}
    </ul>
    <p>Op de pagina <a href="/projecten/">Projecten</a> beschrijven we deze en andere projecten. Meehelpen? Contacteer een actief projectlid voor meer informatie.</p>
  {{ end }}

  <h2>Aankomende evenementen</h2>

    {{ $upcoming_events := sort .Site.Data.evenementen.kalender "date_start" "asc" }}
    {{ range $upcoming_events }}
      {{ if eq .highlight_on_homepage true }}
        <div class="highlight-box">
          <h3>{{ .name }}</h3>
          {{ with .date_start | dateFormat "02-01-2006" }}<p>Datum: {{ . }}</p>{{ end }}
          {{ with .event_address }}<p>Adres: {{ . }}</p>{{ end }}
          {{ with .event_url }}<a href="{{ . }}" class="button">Meer informatie</a>{{ end }}
        </div>
      {{ end }}
    {{ end }}

    <p>Naast de door ons georganiseerde evenementen staat er meer op de agenda. Zie de uitgebreide <a href="/evenementen/kalender/">evenementenkalender</a> voor meer details.</p>
    <ul>
      {{ range first 10 (where $upcoming_events "date_start" "gt" (dateFormat "2006-01-02" now)) }}
        <li>{{ .date_start | dateFormat "02-01-2006" }} - {{ .name }}</li>
      {{ end }}
    </ul>


{{ end }}
