{{ define "main" }}
  {{ .Content }}

  {{ if gt (len (where .Site.RegularPages "Section" "nieuws")) 0 }}
      <h2>Laatste nieuws</h2>
      <section>
      <ul reversed class="list">
        {{ range (first 3 (where .Site.RegularPages "Section" "nieuws").ByDate.Reverse) }}
          <li>
            <a class="link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            <hr class="hr-list">
            <time class="g time" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
          </li>
          {{ end }}
      </ul>
      </section>
  {{ end }}

  {{ if gt (len (.Site.Data.projecten.open)) 0 }}
    <h2>Lopende projecten</h2>
    <ul>
      {{ range $.Site.Data.projecten.open }}
      <li>{{ .name }} ({{ .description_short }})</li>
      {{ end }}
    </ul>
    <p>Op de pagina <a href="/projecten/">Projecten</a> beschrijven we deze en andere projecten. Meehelpen? Contacteer een actief projectlid voor meer informatie.</p>
  {{ end }}

  <h2>Aankomende evenementen</h2>
  <p>Naast de door ons georganiseerde evenementen staat er meer op de agenda. Zie de uitgebreide evenementenkalender voor meer details.</p>
    {{ $upcoming_events := .Site.Data.evenementen.kalender }}
    {{ $upcoming_events := sort $upcoming_events ".date_start" "desc" }}
    <ul>
      {{ range first 10 $upcoming_events }}
        <li>{{ .date_start }} - {{ .name }}</li>
      {{ end }}
    </ul>

{{ end }}
