{{ define "main" }}

<div>{{ .Content }}</div>

<h2>Secties</h2>
{{ $sections := (where $.Site.Pages ".Kind" "section").ByTitle }}


{{ range $sections }}
    <h3><a href="{{ .Permalink }}">{{ .Title | default .Site.Params.textNoTitle }}</a></h3>
    {{ $sectionName := .Section | singularize }}
    {{ $pages := (where $.Site.RegularPages ".Section" $sectionName) }}
    <ul>
    {{ range $pages.ByParam "title" }}
      <li><a href="{{ .RelPermalink }}">{{ .Title | default .Site.Params.textNoTitle }}</a></li>
    {{ end }}
    </ul>
{{ end }}

<h2>Laatste wijzigingen</h2>
  {{ $byLastMod := .Site.RegularPages.ByLastmod.Reverse }}
  <div class="table-wrapper">
    <table class="fl-table">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Titel</th>
            {{ if .Site.IsServer }}
              <th>Taal</th>
              <th>Bestandsnaam</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
      {{ range first 50 $byLastMod }}
      <tr>
        <td>{{ .Lastmod | dateFormat "2006-01-02 15:04:05" }}</td>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        {{ if .Site.IsServer }}
          <td>{{ with .File }}{{ .Lang }}{{ end }}</td>
          <td>{{ with .File }}{{ .Path }}{{ end }}</td>
        {{ end }}
      </tr>
      {{ end }}
        </tbody>
    </table>
  </div>
{{ end }}
