{{ if not .IsHome }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ range $index,$element := .Ancestors.Reverse }}
      {{ if eq $index 0 }}
        <li><img src="/afbeeldingen/iconen/home.svg" height="{{ .Site.Params.smallIconSize }}" width="{{ .Site.Params.smallIconSize }}" alt="Terug naar hoofdpagina">&nbsp;<a href="{{ .Permalink }}">Hoofdpagina</a></li>
      {{ else }}
      <li>
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      </li>
      {{ end }}
    {{ end }}
    <li class="active">
      <a aria-current="page" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    </li>
  </ol>
</nav>
{{ end }}
