<header>
  <nav style="padding:0;width:100%;">
    <a href="/"><img src="/afbeeldingen/logo/nluug-logo.png" alt="NLUUG-logo" title="{{ .Site.Title }}"></a>
    <div class="header">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
        <a href="{{ .URL }}"><span>{{ .Name }}</span></a>
        </li>
      {{ end }}
    </ul>
    </div>
  </nav>
</header>
<hr class="hr-list" style="padding: 0;margin: 0;">
