<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <!-- Social media -->
    {{ partial "opengraph/opengraph.html" . }}
    {{ partial "opengraph/twitter_cards.html" . }}
    {{ if .Site.Params.mastodon_instance }}
      <link rel="me" href="{{ .Site.Params.mastodon_instance }}@{{ .Site.Params.mastodon_handle }}">
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- <link rel="icon" href="{{ absURL "assets/favicon.ico" }}"> -->
    <link rel="icon" type="image/svg+xml" href="{{ absURL "afbeeldingen/logo/nluug-logo-mono.svg" }}" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/svg+xml" href="{{ absURL "afbeeldingen/logo/nluug-logo-mark.svg" }}" media="(prefers-color-scheme: light)">
  
    <link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" href="{{ absURL "atom.xml" }}">
    <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ absURL "feed.json" }}">
    {{ partialCached "style.html" . }}

    <!-- Schema.org opmaak -->
    {{ partial "schemas/include-relevant-schemas.html" . }}
</head>
