{{ $.Scratch.Set "jslibs" slice }}
{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
{{ $scripts := resources.Get "js/scripts.json" | unmarshal }}

{{ range $scripts.scripts }}
  {{ $.Scratch.Add "jslibs" (resources.Get . ) }}
{{ end }}

{{ $js := .Scratch.Get "jslibs" | resources.Concat "js/combined-scripts.js" | resources.Minify | fingerprint }}
<script src="{{ $js.RelPermalink }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" crossorigin="anonymous" integrity="{{ $js.Data.Integrity }}"></script>
