{{ $size_in_pixels := 150 }}
{{ if .profile_details }}
      <div>
          {{ if .profile_details.thumbnail }}
            <figure>
              {{ if .profile_details.profile_page }}
                <a href="{{ .profile_details.profile_page }}"><img src="{{ .profile_details.thumbnail }}" alt="Foto van {{ .profile_details.name }}" height="{{ $size_in_pixels }}" width="{{ $size_in_pixels }}"></a>
              {{ else }}
                <img src="{{ .profile_details.thumbnail }}" alt="Foto van {{ .profile_details.name }}" height="{{ $size_in_pixels }}" width="{{ $size_in_pixels }}">
              {{ end }}
              {{ if not .hide_figcaption }}
              <figcaption>
                <small><strong>{{ .profile_details.name }}</strong></small>
              </figcaption>
              {{ end }}
            </figure>
          {{ end }}
      </div>
{{ end }}
